@import "elr-scss-functions/src/main";
@import "elr-scss-config/src/main";

@mixin elr-form($config: ()) {
  $config: extend(
    (
      background-color: $lightest-gray,
      border-color: $gray,
      label-color: $text-color,
      border-radius: $border-radius,
    ),
    $config
  );

  $background-color: map-get($config, background-color);
  $border-color: map-get($config, border-color);
  $label-color: map-get($config, label-color);
  $text-color: map-get($config, text-color);
  $border-radius: map-get($config, border-radius);

  $input-border: 1px solid $border-color;

  padding-top: $base-fontsize;
  padding-bottom: $base-fontsize;
  width: 100%;
  position: relative;

  .form-overlay {
    background-color: $eggshell;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .form-row {
    display: flex;
    flex-wrap: wrap;
  }

  .input-group {
    flex: 1;
    // min-width: 50%;
    padding: ($base-fontsize * 0.5);

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &:first-child:last-child {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .input-wrapper,
  .select-wrapper {
    position: relative;
    display: flex;
    padding-top: 0;
    margin: 0;

    > .input-icon + [type="text"],
    > .input-icon + [type="email"],
    > .input-icon + [type="tel"],
    > .input-icon + [type="search"],
    > .input-icon + [type="password"],
    > .input-icon + [type="date"],
    > .input-icon + [type="url"],
    > .input-icon + [type="number"],
    > .input-icon + select {
      border-radius: 0 $border-radius $border-radius 0;
    }

    > .input-icon + select {
      margin-top: $base-fontsize * 0.5;
    }

    .input-icon {
      border-radius: $border-radius 0 0 $border-radius;
      border: $input-border;
      border-right: 0;
      background-color: $eggshell;
      padding: 0 12px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $dark-gray;
      margin-top: 8px;
      font-weight: 700;
      font-size: $base-fontsize * 0.875;
    }
  }

  .input-helper-text {
    flex: 1;
    display: block;
    color: $dark-gray;
    font-size: 12px;
    margin: 0;
    padding: 0;
  }

  .form-buttons {
    display: flex;
    flex-wrap: wrap;

    p.form-disclaimer {
      width: 100%;
      margin: 0;
      padding: 0;
      font-size: $base-fontsize * 0.75; /* stylelint-disable-line declaration-property-value-allowed-list */
    }
  }

  label {
    color: $label-color;
    font-size: $base-fontsize * 0.875;
    margin: 0;
    font-weight: 700;
    letter-spacing: 1px;
  }

  label,
  input:not([type="submit"]),
  textarea,
  select {
    display: block;
    width: 100%;
    color: $text-color;
  }

  [type="text"],
  [type="email"],
  [type="tel"],
  [type="search"],
  [type="password"],
  [type="date"],
  [type="url"],
  [type="number"],
  textarea {
    margin: ($base-fontsize * 0.5) 0;
    padding: 12px;
    @include elr-placeholder {
      color: $border-color;
    }

    &:focus {
      @include elr-placeholder {
        visibility: hidden;
      }
    }
  }

  [type="text"],
  [type="email"],
  [type="tel"],
  [type="search"],
  [type="password"],
  [type="date"],
  [type="url"],
  [type="number"],
  textarea,
  select {
    border: $input-border;
    font-size: 14px;
    border-radius: $border-radius;
    background-color: $background-color;
    transition: border-color 0.3s, background-color 0.3s;
    display: block;
    border-color: $border-color;
    margin-top: ($base-fontsize * 0.5);
    width: 100%;
    color: $text-color;
    border-radius: $border-radius;

    &:focus {
      outline: 0;
      border: 1px solid $link-color;
      box-shadow: 0 0 2px 0 $link-color;
      background-color: $white;
    }

    &.hidden-field {
      display: none;
    }
  }

  textarea {
    min-height: 100px;
  }

  [type="search"] {
    border-radius: 20px;
    padding: $base-fontsize;
  }

  [disabled] {
    cursor: not-allowed;
    background-color: $light-gray;
  }

  [type="text"],
  [type="email"],
  [type="tel"],
  [type="search"],
  [type="password"],
  [type="date"],
  [type="url"],
  [type="number"],
  select {
    height: 40px;
  }

  select {
    margin: 6px 0 ($base-fontsize * 0.5) 0;
    padding: 12px;
  }

  .select-wrapper {
    @include elr-select;
  }

  [type="text"],
  [type="tel"],
  [type="email"],
  [type="password"],
  [type="url"],
  textarea,
  select:not([type="multiple"]) {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  [multiple] {
    height: auto;
    padding: ($base-fontsize * 0.5);
    margin-top: ($base-fontsize * 0.25);

    option {
      padding: ($base-fontsize * 0.25);
    }
  }

  [type="checkbox"],
  [type="radio"] {
    display: inline;
    padding: ($base-fontsize * 0.25) ($base-fontsize * 0.25) 0 0;
  }

  .control-group {
    margin: $base-fontsize 0;
    padding: 0;

    &.control-group-inline {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 0;
    }

    .control-option {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: $base-fontsize ($base-fontsize * 0.5) $base-fontsize 0;

      .control-label-support {
        font-size: 13px;
      }
    }

    &.control-group-list {
      .control-option {
        border-bottom: $border;
        padding: ($base-fontsize * 0.75) ($base-fontsize * 0.5);
        margin: 0 $base-fontsize 0 0;

        &:first-of-type {
          border-top: $border;
        }

        label {
          flex: 1;
        }

        &.control-option-inline label {
          display: flex;
          align-items: center;

          p {
            padding: 0;
            margin: 0;
          }

          .control-label-support {
            padding-left: $base-fontsize * 0.5;
          }
        }
      }
    }

    .control-option-label {
      margin-left: $base-fontsize * 0.5;
    }

    label {
      width: auto;
      padding: 0;
      margin: 0 ($base-fontsize * 0.25);
      font-size: 14px;
      line-height: 1;
      vertical-align: middle;
      letter-spacing: 1px;

      &:first-child {
        margin-left: 0;
      }
    }

    [type="checkbox"],
    [type="radio"] {
      line-height: 1;
      width: auto;
      margin: 0 ($base-fontsize * 0.25);
      padding: 0;
      min-height: 0;
    }
  }

  .control-label {
    margin: 0;
    padding: ($base-fontsize * 0.25) 0 0;
    font-weight: 700;
    font-size: $base-fontsize;
    // letter-spacing: 1px;
  }

  .control-label-support {
    color: $dark-gray;
    font-size: 14px;
    font-weight: 400;
    margin: ($base-fontsize * 0.25) 0;
    letter-spacing: 0;
  }

  [type="submit"],
  .button {
    background-color: $link-color;
    color: $white;
    border: $link-color;
    display: block;
    font-weight: 700;
    font-size: $base-fontsize;
    padding: $base-fontsize;
    margin-top: $base-fontsize;
    box-shadow: $button-shadow;
    text-shadow: $text-shadow;
    cursor: pointer;
    border-radius: $border-radius;
    min-width: 0;
    margin-right: $base-fontsize;
    width: 200px;
    transition: color 0.3s, border-color 0.3s, background-color 0.3s;

    &:focus {
      outline: 0;
      border-color: $link-color;
      box-shadow: 0 0 2px 2px $link-color;
    }

    &:disabled,
    &:disabled:hover {
      cursor: not-allowed;
      border-color: desaturate(lighten($link-color, 10%), 30%);
      background-color: desaturate(lighten($link-color, 10%), 30%);
    }

    &:hover:not(:disabled) {
      color: $white;
      transition: transform 0.1s ease-out;
      transform: translateY(-2px);
    }
  }
}

@mixin elr-form-status($config: ()) {
  $config: extend(
    (
      color: $lighter-grey,
    ),
    $config
  );

  $color: map-get($config, color);

  background-color: lighten($color, 30%);
  border: 1px solid $color;
  transition: border 0.5s, box-shadow 0.5s;

  &:hover {
    border: 1px solid $color;
    box-shadow: 0 0 2px $color;
  }

  &:focus {
    outline: none;
    border: 1px solid darken($color, 20%);
    background-color: $white;
  }
}

@mixin elr-placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
}

@mixin elr-select($config: ()) {
  $config: extend(
    (
      icon: "\25BE",
      font-size: 14px,
    ),
    $config
  );

  $icon: map-get($config, icon);
  $font-size: map-get($config, font-size);

  position: relative;
  padding: 0;
  margin: 0;

  &::after {
    content: $icon;
    font-size: $base-fontsize;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: $base-fontsize * 0.75;
    transform: translateY(-55%);
    color: $dark-gray;
  }
}
